<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" href="favicon.ico" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<section class="top-bar">
  <p class="logo">texty</p>
  <nav class="nav-links">
    <ul>
      <li (click)="scrollToElement(contact)">Contact Us</li>
      <li *ngIf="userService.user$ | async; else loginButton">
        <a (click)="logout()">Logout</a>
      </li>
      <ng-template #loginButton>
        <li><a routerLink="/login">Login/SignUp</a></li>
      </ng-template>
    </ul>
  </nav>
</section>
<section class="intro">
  <div class="intro-row">
    <div>
      <h2>Texty - The WYSIWYG Editor</h2>
      <p>
        Rich Text Editor built using Angular, enables you to create documents
        over the web.
      </p>
    </div>
    <img src="assets/images/text-field-landing.svg" alt="" />
  </div>
  <div class="intro-row second">
    <img src="assets/images/access-anywhere-landing.svg" alt="" />
    <div>
      <h2>Access from anywhere, anytime.</h2>
      <p>
        Login and enable yourself to save and edit your docs on the go from
        multiple devices.
      </p>
      <br />
      <button class="app" routerLink="/editor">Go To Editor</button>
    </div>
  </div>
</section>
<section class="contact" #contact>
  <div class="contact-div">
    <div class="hire">WE ARE OPEN TO WORK!</div>
    <div class="linkedin">
      <div
        class="avatar"
        style="background-image: url(assets/images/mayank-profile.jpeg)"
      ></div>
      <div class="l-name">Mayank Sethi</div>
      <div class="l-tag">Web Developer at Infosys</div>
      <div class="buttons">
        <div class="linkedin-btn" (click)="openInNewWindow(mayankURL)">
          <img src="assets/images/LinkedIn-Logo.wine.svg" alt="" />
        </div>
        <div class="linkedin-btn" (click)="openInNewWindow(mayankGit)">
          <img src="assets/images/GitHub_Logo.png" alt="" />
        </div>
      </div>
    </div>
    <div class="linkedin">
      <div
        class="avatar"
        style="background-image: url(assets/images/sarthak-profile.jpg)"
      ></div>
      <div class="l-name">Sarthak Malik</div>
      <div class="l-tag">Web Developer @ Infosys | JS | Angular</div>
      <div class="buttons">
        <div class="linkedin-btn" (click)="openInNewWindow(sarthakURL)">
          <img src="assets/images/LinkedIn-Logo.wine.svg" alt="" />
        </div>
        <div class="linkedin-btn" (click)="openInNewWindow(sarthakGit)">
          <img src="assets/images/GitHub_Logo.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
