<div class="full-page bodybg-color">
  <mat-toolbar color="#000000">
    <span>My App</span>
    <span class="float-right"></span>
    <!-- <span *ngIf="loggedInUser">Hi {    {loggedInUser.email}}</span> -->
  </mat-toolbar>
  <div class="cards-container" *ngIf="userDocuments">
    <mat-card class="example-card dashboard-card">
      <div class="plus">
        <span class="material-icons icon" style="color: black" (click)="newDocument()">
          add_circle
        </span>
      </div>
      <mat-card-actions> </mat-card-actions>
    </mat-card>
    
    <mat-card #doc1 class="example-card dashboard-card" *ngFor="let document of userDocuments" >
        <div  class="text-center" style="color:black;" >
            <p appConvertToHTML [htmlString]="document.htmlString"></p>
        </div>
        <button (click)="navigateToDocument(document.docId)">open</button>
        

          <mat-card-actions> </mat-card-actions>
        </mat-card>
  </div>
</div>
