<!-- <div class="text-center">
    <button class="btn btn-default" [routerLink]="['/editor']">GO TO EDITOR</button>
</div> -->
<!-- <meta name="viewport" content="width=device-width, maximum-scale=1" /> -->



<section class="intro">
    <div>
        <mat-toolbar color="#000000">
          <span>My App</span>
        </mat-toolbar>
        <div class="cards-container">
          <mat-card class="example-card dashboard-card">
            <mat-card-header> </mat-card-header>
            <div class="plus">
              <span class="material-icons icon" style="color: black" (click)="newDocument()">
                add_circle
              </span>
            </div>
            <mat-card-actions> </mat-card-actions>
          </mat-card>
          <mat-card class="example-card dashboard-card">
            <mat-card-header> </mat-card-header>
            <span class="material-icons"> add_circle </span>
            <mat-card-actions> </mat-card-actions>
          </mat-card>
          <mat-card class="example-card dashboard-card">
            <mat-card-header> </mat-card-header>
            <span class="material-icons"> add_circle </span>
            <mat-card-actions> </mat-card-actions>
          </mat-card>
          <mat-card class="example-card dashboard-card">
            <mat-card-header> </mat-card-header>
            <span class="material-icons"> add_circle </span>
            <mat-card-actions> </mat-card-actions>
          </mat-card>
          <mat-card class="example-card dashboard-card">
            <mat-card-header> </mat-card-header>
            <span class="material-icons"> add_circle </span>
            <mat-card-actions> </mat-card-actions>
          </mat-card>
          <mat-card class="example-card dashboard-card">
            <mat-card-header> </mat-card-header>
            <span class="material-icons"> add_circle </span>
            <mat-card-actions> </mat-card-actions>
          </mat-card>
          <mat-card class="example-card dashboard-card">
            <mat-card-header> </mat-card-header>
            <span class="material-icons"> add_circle </span>
            <mat-card-actions> </mat-card-actions>
          </mat-card>
          <mat-card class="example-card dashboard-card">
            <mat-card-header> </mat-card-header>
            <span class="material-icons"> add_circle </span>
            <mat-card-actions> </mat-card-actions>
          </mat-card>
          <mat-card class="example-card dashboard-card">
            <mat-card-header> </mat-card-header>
            <span class="material-icons"> add_circle </span>
            <mat-card-actions> </mat-card-actions>
          </mat-card>
        </div>
      </div>
</section>
