
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" href="favicon.ico" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<section class="top-bar">
  <p routerLink='/landing' class="logo">texty</p>
  <nav class="nav-links">
    <ul>
      <!-- <li>Hi {{loggedInUser.email}}</li> -->
      <li *ngIf="userService.user$ | async">
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>
</section>
<section class="intro">
  <div class="cards-container" *ngIf="userDocuments">
    <mat-card class="example-card dashboard-card">
      <div class="plus">
        <span class="material-icons icon" style="color: black" (click)="newDocument()">
          add_circle
        </span>
      </div>
      <mat-card-actions> </mat-card-actions>
    </mat-card>
    
    <mat-card #doc1 class="example-card dashboard-card" *ngFor="let document of userDocuments" >
      <div class="plus">
        <span class="material-icons icon" (click)="navigateToDocument(document.docId)">
          folder_open
        </span>
        <h3 style="color:black;">{{document.documentName}}</h3>
      </div>
        </mat-card>
  </div>
</section>

<!-- 

<div class="full-page bodybg-color">
  <section class="top-bar">
    <p routerLink='/landing' class="logo">texty</p>
  </section>
  
</div> -->
