
.cards-container {
    display: flex;
    justify-content:left;
    flex-flow:wrap;
}
  .dashboard-card{
    height: 300px;
    flex-basis: 15%;
    margin:10px;
    justify-content: center;
    background-color: white;
    transition: transform .2s; /* Animation */
  }
  .bodybg-color {
    background-color: #484848;
}

.float-right{
        flex: 1 1 auto;
}
.full-page{
    width:100%;
    height: 100%;
    position: relative;
}

  @media only screen and (max-width: 480px) {
    .dashboard-card{
        height: 300px;
        flex-basis: 90%;
        margin:auto;
        margin-top: 10px;
        background-color: white;
        /* justify-content: center; */
      }
  }

  @media only screen and (device-width: 768px) {
    .dashboard-card{
        height: 300px;
        flex-basis: 45%;
        margin:auto;
        margin-top: 10px;
        background-color: white;
        /* justify-content: center; */
      }

  }


  .icon{
    font-size: 100px;
    cursor: pointer;
  }

  .plus {
      display:table;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      vertical-align: middle;
      top: 30%;
      position: relative;
  }



  
