@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");


.cards-container {
    display: flex;
    justify-content:left;
    flex-flow:wrap;
    padding-top:75px;
}
  .dashboard-card{
    min-width: 200px;
    height: 300px;
    flex-basis: 15%;
    margin:10px;
    justify-content: center;
    background-color: white;
    transition: transform .2s; /* Animation */
  }
  .bodybg-color {
    background-color: #484848;
}


.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 0.5rem;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.float-right{
        flex: 1 1 auto;
}
.full-page{
    width:100%;
    height: 100%;
    position: relative;
}

  @media only screen and (max-width: 480px) {
    .dashboard-card{
        height: 300px;
        flex-basis: 80%;
        margin:auto;
        margin-top: 10px;
        background-color: white;
        /* justify-content: center; */
      }
  }

  @media only screen and (device-width: 768px) {
    .dashboard-card{
        height: 300px;
        flex-basis: 45%;
        margin:auto;
        margin-top: 10px;
        background-color: white;
        /* justify-content: center; */
      }

  }

  .top-bar {
    width: 100%;
    height: 8vh;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    position: fixed;
    z-index: 100;
    /* background-image: radial-gradient( circle 465px at -15.1% -25%,  rgba(17,130,193,1) 0%, rgba(67,166,238,1) 49%, rgba(126,203,244,1) 90.2% );; */
  }

  .logo {
    display: inline-block;
    margin: 0;
    height: 3rem;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: #ffffff;
    padding-top: 6px;
  }
  
  .logo:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 1s;
  }
  
  .logo:active, .logo:focus {
    outline: none;
  }

  .intro {
    height: 100vh;
    background-color: #212121;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23222222' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23444444' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23666666' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23888888' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23aaaaaa' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23cccccc' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E"); */
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    top: 50px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: center; */
  }


  .icon{
    font-size: 100px;
    cursor: pointer;
    color:black;
  }

  .icon:hover{
    color:gray;
  }

  .folder-icon:hover {
    transform: scale(1.1);
  }

  .plus {
      display:table;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      vertical-align: middle;
      top: 30%;
      position: relative;
  }



  
